* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.top-sec {
    text-align: center;
    border: 0;
    padding: 174px 307px 337px;
    background: rgb(0, 213, 255);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
}

.top-title {
    margin-bottom: 20px;
    color: white;
    font-size: 65px;
    font-weight: 700;
}

.top-sec p {
    font-size: 18px;
    color: white;
    line-height: 28px;
}

.cmn-btn {
    background: crimson;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-top: 30px;
    border-radius: 5px
}

/* dnt-title */

.dnt-top{
    text-align: center;
}
.opo{
    text-align: center;
    margin-top: 100px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.opop{
    font-size: 18px;
    color: #707070;
    line-height: 28px;
}
li{
    display: flex;
}

.dnt{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.li{
    margin-left: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(58, 56, 56);
    border: 0;
}

.textarea{
    margin-top: 30px;
    border:0;
    text-align: center;
    color:  rgb(121, 120, 120);
    text-align: center;
}

.ddd{
    align-items: center;
    margin-bottom: 120px;
}

.top-title-gg{
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.ttt{
    text-align: center;
}

/* Plans */

.skill-one{
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    background-color: rgb(204, 250, 238);
    padding: 30px;
}
.skill-two{
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    background-color: rgb(241, 187, 187);
    padding: 30px;
}
.skill-three{
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    background-color: rgb(254, 249, 176);
    padding: 30px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
}

.plans-all{
    display: flex;
    gap: 24px;
    margin: 50px 30px 100px;
}

/* About Donate Section */
.dnt-all{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.dnt-desc{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.dnt-desc h1{
    font-size: 50px;
    font-weight: bolder;
}

.dnt-desc p{
    color: #757575;
    margin-top: 30px;
    font-size: 18px;
}

.dnt-pic{
    margin-right:50px;
}

.dnt-desc-two{
        margin-top: 30px;
        margin-right: 50px;
        margin-left: 50px;
}

.dnt-pi{
    margin-left: 50px;
}

.dnt-desc-two h1{
    font-size: 50px;
    font-weight: bolder;
}

.dnt-desc-two p{
    color: #757575;
    margin-top: 30px;
    font-size: 18px;
}

/* Last Section */

.last-title{
    text-align: center;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    background-color: rgb(204, 250, 238);
    padding: 30px;
    margin: 0 200px;
    margin-bottom: 100px;
}
.last-title .tt{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}
.last-title .pp{
    color: #757575;
    font-size: 18px;
    margin-bottom:50px;
}

.last-form{
    display: flex;
    justify-content: center;
}

.last-form input{
    padding: 12px 16px;
    background-color: rgb(255, 197, 197);
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-top: 30px;
    border-radius: 5px
}

.ftr{
    text-align: center;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    color:crimson;
    background-color: rgb(0, 0, 0);
    padding: 30px;
}

.ftr h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 30px;
}

.ftr h2{
    color: aliceblue;
    font-size: 18px;
}